@import "mixins";
.file-input {
  position: relative;
  @include button;
  cursor: pointer !important;
  overflow: hidden;

  // important
  input[type=file] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 250%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
  }
}