@import "mixins";
body {
  width: 960px;
  margin: auto;
}
.text-box {
  @include text-box();
}

.simple-button {
  @include simple-button;
}

.demo {
  margin: 20px 0 20px 0;
  &:before {
    content: "Demo:";
    display: block;
    margin-bottom: 20px;
    font-weight: 800;
  }
  border-bottom: 1px solid black;
  padding: 20px 0 20px 0;
}